.logo {
  width: 100px; /* Adjust the width and height according to your logo size */
  height: 100px;
  animation: rotateLogo 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
